<div class="container" id="bg">
  <div class="row">
    <div class="col-md-12 mt-3">
      <label class="form-label fw-bolder fs-5 mr-2">Enter below your favourite book :</label>
    </div>
    <div class="col-md-12">
      <input type="text" style="width: 800px; height: 50px">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="goBack()">
        Click here to go to page 1 !
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <label for="customRange" class="form-label">How much do you like the book :</label>
      <input type="range" class="" id="customRange" [(ngModel)]="sliderValue" />
      <p class="mt-3">Selected Value: {{ sliderValue }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="radio-label">Do you like reading ?</label>
    </div>
    <div class="col-md-6">
      <input type="radio" name="radio" value="Yes" id="yes">
      <label for="yes"> Yes </label>
    </div>
    <div class="col-md-6">
      <input type="radio" name="radio" value="No" id="no">
      <label for="no"> No </label>
    </div>
  </div>
</div>


