<div class="container" id="bg">
  <div class="row">
    <div class="col-md-12 mt-3">
      <label class="form-label fw-bolder fs-5 mr-2">Enter below your favourite color :</label>
    </div>
    <div class="col-md-12">
      <input type="text" style="width: 800px; height: 50px" value="" [(ngModel)]="favouriteColor">
    </div>
  </div>
<!--  <div class="row mt-2">-->
<!--    <div class="col-md-12">-->
<!--      <button type="button" class="btn btn-primary" (click)="goBack()"> GO BACK</button>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row mt-2">
    <button type="button" class="btn btn-danger btn-lg mb-2" style="width: 100%; height: 50px" (click)="navigateToBook()">Click to go to page 3 !</button>
  </div>
  <div class="row mt-2">
    <p class="fw-bolder list-p" style="width: 400px">These are my favourite colors :</p>
    <div class="col-md-12">
      <ul style="width: 200px">
        <li class="fw-bolder" style="color: black">Black</li>
        <li class="fw-bolder" style="color: purple">Purple</li>
        <li class="fw-bolder" style="color: lavender">Lavender</li>
        <li class="fw-bolder" style="color: teal">Teal</li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <p class="checkbox-label">Which of these are your favourite colors ?</p>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckDefault1" style="width: 20px">
      <label for="flexCheckDefault">
        Black
      </label>
    </div>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckChecked1" checked style="width: 20px">
      <label for="flexCheckChecked">
        Purple
      </label>
    </div>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckDefault" style="width: 20px">
      <label for="flexCheckDefault">
        Teal
      </label>
    </div>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckChecked" checked style="width: 20px">
      <label for="flexCheckChecked">
        Lavender
      </label>
    </div>
  </div>
</div>


