<div class="container" id="bg">
  <div class="row">
    <div class="col-md-12 mt-3">
      <label class="form-label fw-bolder fs-5 mr-2">Enter below your favourite color :</label>
    </div>
    <div class="col-md-12">
      <input type="text" style="width: 800px; height: 50px">
    </div>
  </div>
<!--  <div class="row mt-2">-->
<!--    <div class="col-md-12">-->
<!--      <button type="button" class="btn btn-primary" (click)="goBack()"> GO BACK</button>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row mt-2">
    <button type="button" class="btn btn-danger btn-lg mb-2" (click)="navigateToBook()">
      Click to go to page 3 !
    </button>
  </div>
  <div class="row mt-2">
    <p class="fw-bolder">These are my favourite colors :</p>
    <div class="col-md-12">
      <ul>
        <li class="fw-bolder" style="color: black">Black</li>
        <li class="fw-bolder" style="color: purple">Purple</li>
        <li class="fw-bolder" style="color: lavender">Lavender</li>
        <li class="fw-bolder" style="color: teal">Teal</li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <p>Which of these are your favourite colors ?</p>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckDefault1">
      <label for="flexCheckDefault">
        Black
      </label>
    </div>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckChecked1" checked>
      <label for="flexCheckChecked">
        Purple
      </label>
    </div>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckDefault">
      <label for="flexCheckDefault">
        Teal
      </label>
    </div>
    <div class="col-md-3">
      <input type="checkbox" value="" id="flexCheckChecked" checked>
      <label for="flexCheckChecked">
        Lavender
      </label>
    </div>
  </div>
</div>


